@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&family=Source+Code+Pro:wght@500&family=Spline+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

@font-face {
    font-family: 'hurlers';
    src: url('fonts/hurlersfreeregular-ezam6-webfont.woff2') format('woff2'),
         url('fonts/hurlersfreeregular-ezam6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VT323';
    src: url('fonts/VT323-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*-------------general-------------------*/
html, body { 
    height: 100%;  
    scroll-behavior: smooth;
}

li { cursor: pointer; }


body{
    background: black;
    background-attachment:fixed;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: 'Poppins';
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.row{
    margin: 0px;
}
.col-md-6{
    padding: 0px;
}

.text{
    font-size: 30px;
    letter-spacing: 0px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 40px;
}

.title{
    display: flex;
    align-self: center;
    font-size: 40px;
    letter-spacing: 0px;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 5px;
}

.pcb{
    height: 100%;
}

.keyboard{
    width: 412px;
    align-content: center;
    display: flex;
}

.purple{
    color: rgba(192,123,194,255);
}

.yellow{
    color: rgba(190,199,131,255);
}

.blue{
    color: rgba(108,180,180,255);
}

#logo{
    visibility: hidden;
    margin-right: auto;
}

#scrollto{
    z-index: 30;
}

/*-------------background waves-------------------*/
.backwaves{
    position: absolute;
    top: -400px;
    left: 0px;
    height: 2500px;
    z-index: 0;
}

.backwaves-down{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 500px;
    z-index: 0;
}
/*--------------------background_cover---------------*/
.over_bg{
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    position: relative;
    z-index: 30;
}

/*-------------logo-------------------*/
.logo_name{
    position: relative;
    z-index: 20;
    flex: auto;
}

.logo_header{
    width:200px;
}

/*------------------buttons-------------------------*/
.btn-primary {
    background-image: linear-gradient(to right,  rgba(4,30,66,255) 25%, rgba(30,50,102,255) 50%, rgba(0,144,125,255) 100%);
    margin: 10px;
    font-size: 20px;
    letter-spacing: 0px;
    padding: 2px 130px;
    transition: 0.55s;
    border: none;
    border-radius: 6px;
    background-size: 420% auto;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: auto;
  }
  
  .btn-primary:hover {
    background-position: right;
    color: #fff;
    text-decoration: none;
    transform: scale(1.03);
}

/*-------------------------header---------------------------------*/

header {
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.sticky {
    backdrop-filter: brightness(110%) blur(60px);
    -webkit-backdrop-filter: brightness(110%) blur(60px);
    display: flex;
}


.logo {
    display: inline-block;
    position: relative;
    font-family: 'VT323', sans-serif;
    font-size: 3ch;
    margin: 0;
    color: #06b709;
    -webkit-text-shadow:0px 0px 20px rgba(0,255,68,1);
    -moz-text-shadow: 0px 0px 20px rgba(0,255,68,1);
    text-shadow: 0px 0px 20px rgba(0,255,68,1);
}

.flex{
    display: flex;
    justify-content: space-between;
}

.flex-middle{
    display: flex;
    justify-content: center;
}

.align_right{
    position: relative;
    margin-top: 10px;
}

.contact {
    font-family: 'VT323', sans-serif;
    font-size: 3ch;
    color: #06b709;
    -webkit-text-shadow: 0px 0px 20px rgba(0,255,68,1);
    -moz-text-shadow: 0px 0px 20px rgba(0,255,68,1);
    text-shadow: 0px 0px 20px rgba(0,255,68,1);
}

.contact_bar {
    display: flex;
    margin: 0px;
}

.underscore {
    position: relative;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }

  .underscore2 {
    position: relative;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }


/*-----------------------------------Marquee-----------------------------------*/
.marquee {
    position:relative;
    width: 100%;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;
    z-index: 30;
  }

  .marquee-text {
    display: inline-block;
    position: relative;
    font-family: 'VT323', sans-serif;
    font-size: 5ch;
    margin: 0;
    color: #06b709;
    -webkit-text-shadow:0px 0px 20px rgba(0,255,68,1);
    -moz-text-shadow: 0px 0px 20px rgba(0,255,68,1);
    text-shadow: 0px 0px 20px rgba(0,255,68,1);
}
  
.track {
width: 100%;
position: absolute;
white-space: nowrap;
will-change: transform;
animation: marquee 15s linear infinite;
}

@keyframes marquee {
0% { transform: translateX(0); }
99% { transform: translateX(-300%); }
100% { transform: translateX(0); }
}